.Destroyer > span{
    background-color: var(--Destroyer);
}
.Battleship > span{
    background-color: var(--Battleship);
}
.Submarine > span{
    background-color: var(--Submarine);
}
.Cruiser > span{
    background-color: var(--Cruiser);
}
.Carrier > span{
    background-color: var(--Carrier);
}
span{
    width: 100%;
    height: 100%;
    pointer-events: none;
    align-content: center;
    text-align: center;
}
.cell > span{
    font-size: 2.8vh;
}