.Destroyer > span{
    background-color: var(--Destroyer);
    display: flex;
    width: 100%;
    height: 100%;
}
.Battleship > span{
    background-color: var(--Battleship);
    display: flex;
    width: 100%;
    height: 100%;
}
.Submarine > span{
    background-color: var(--Submarine);
    display: flex;
    width: 100%;
    height: 100%;
}
.Cruiser > span{
    background-color: var(--Cruiser);
    display: flex;
    width: 100%;
    height: 100%;
}
.Carrier > span{
    background-color: var(--Carrier);
    display: flex;
    width: 100%;
    height: 100%;

}