.Destroyer > span{
    background-color: var(--Destroyer);
    
}
.Battleship > span{
    background-color: var(--Battleship);
    
}
.Submarine > span{
    background-color: var(--Submarine);
    
}
.Cruiser > span{
    background-color: var(--Cruiser);
    
}
.Carrier > span{
    background-color: var(--Carrier);
    font-size: 300%;
}
span{
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}